[Unit]
Description=Diary Search Service
After=network.target

[Service]
Type=simple
Environment=LANG=ja_JP.utf-8
Environment=TDIARY_URL=https://www.masm11.me/~masm/tdiary
Environment=SEARCH_URL=https://www.masm11.me/~masm/g2diary
User=masm
WorkingDirectory=/home/masm/g2diary
ExecStart=/home/masm/g2diary/g2_diary_web.rb
#ExecStop=pkill
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
